# Ignorar carpetas y archivos generados
/build/
/.gradle/
/bin/

# Modelos Vosk (pesados)
/models/

# Transcripciones generadas
/transcriptions/

# IDE
/.idea/
*.iml
*.kts

*.bat
*.log
*.tmp

# Audio files
*.m4a
*.wav
*.mp3
*.ogg
*.flac

# Sistema
.DS_Store
Thumbs.db

# Gradle wrapper
gradle/wrapper/gradle-wrapper.jar

